.gf-Fav {
	background: rgba(255, 172, 172, 0.3);
	border: none;
	border-radius: 100px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gf-Fav:hover {
	background: rgba(255, 172, 172, 0.8);
}

.gf-Fav span {
	display: block;
	width: 20px;
}
