.App {
	text-align: center;
}

.App-logo {
	margin: 10px auto;
	padding: 20px 0;
	width: 144px;
}
.App-logo img {
	object-fit: cover;
	width: 100%;
}

.App-title {
	color: white;
}

.App-content {
	background-color: #121212;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	min-height: 100vh;
	padding: 16px;
	text-align: left;
}

.App-main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.App-results {
	flex-shrink: 2;
}

.App-category {
	margin-bottom: 25px;
	width: 100%;
}

@media screen and (min-width: 640px) {
	.App-main {
		flex-direction: initial;
	}

	.App-category {
		padding: 0 2em;
		position: sticky;
		top: 0;
		width: 40%;
	}

	.btn {
		border: 1px solid transparent;
		padding: 0.5rem 1rem;
		background-color: var(--brand-color_3);
		color: var(--theme-body-txt);
		cursor: pointer;
		font-size: 1rem;
	}

	.btn:hover {
		background-color: var(--brand-color_6);
	}

	.page-error {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		text-align: center;
	}

	.page-error .code-error {
		font-size: 5rem;
		font-weight: bold;
		font-style: italic;
	}

	.page-error .msg-error {
		font-size: 1.5rem;
		margin: 1rem 0;
	}

	.page-error .gif-error {
		margin: 1rem auto;
		width: 250px;
		height: 250px;
	}
}
